<%= turbo_frame_tag dom_id(cycle, :reading_log_entries) do %>
  <% if reading_log_entry.errors.any? %>
    <p><%= reading_log_entry.errors.full_messages.to_sentence %></p>
  <% end %>

  <h3>Log your reading</h3>
  <%= form_with model: reading_log_entry, url: cycle_reading_log_entries_path(cycle) do |form| %>
    <p>
      <%= form.label :state %><br>
      <%= form.select :state, ReadingLogEntry.states.keys.map { |value| [ value.humanize, value ] } %>
    </p>

    <p>
      <%= form.label :page_reached %><br>
      <%= form.number_field :page_reached, min: 1 %>
    </p>

    <p>
      <%= form.label :note %><br>
      <%= form.text_area :note, rows: 4 %>
    </p>

    <%= form.submit "Save reading log" %>
  <% end %>

  <h3>Your reading log</h3>

  <% if reading_log_entries.any? %>
    <div id="reading_log_entries_list">
      <%= render reading_log_entries %>
    </div>
  <% else %>
    <p>No reading updates yet.</p>
  <% end %>
<% end %>
