<%= turbo_stream_from "club_#{@club.id}" %>

<% if @current_cycle&.nominating? %>
  <%= turbo_stream_from "cycle_#{@current_cycle.id}_nominations" %>
<% end %>

<% if @current_cycle&.voting? %>
  <%= turbo_stream_from "cycle_#{@current_cycle.id}_votes" %>
<% end %>

<%= turbo_frame_tag "club_details_#{@club.id}" do %>
  <h1><%= @club.name %></h1>
  <p><%= @club.description.presence || "No description provided." %></p>

  <h2>Members</h2>
  <ul>
    <% @memberships.each do |membership| %>
      <li><%= membership.user.email_address %></li>
    <% end %>
  </ul>

  <% if @is_owner %>
    <div data-controller="clipboard">
      <p>Invite link: <span data-clipboard-target="source"><%= invite_url(signed_id: @invite_token) %></span></p>
      <button data-clipboard-target="button" data-action="clipboard#copy">Copy to Clipboard</button>
    </div>
    <p><%= link_to "Edit Club", edit_club_path(@club) %></p>
    <p><%= link_to "Delete Club", club_path(@club), data: { turbo_method: :delete, turbo_confirm: "Delete this club?", turbo_frame: "_top" } %></p>
  <% end %>

  <% if @is_owner && @current_cycle&.nominating? %>
    <%= button_to "Close Nominations", close_nominations_cycle_path(@current_cycle), method: :patch, data: { turbo_frame: "_top" } %>
  <% end %>

  <% if @is_owner && @current_cycle&.voting? %>
    <%= button_to "Close Voting", close_voting_cycle_path(@current_cycle), method: :patch, data: { turbo_frame: "_top" } %>
  <% end %>

  <% if @current_cycle&.nominating? %>
    <h2>Current Nominations</h2>
    <div id="nominations_list">
      <%= render @current_cycle.nominations.includes(:book, :user),
            partial: "nominations/nomination",
            as: :nomination %>
    </div>

    <h2>Nominate a Book</h2>
    <%= render "books/search_and_nominate", club: @club, cycle: @current_cycle %>
  <% end %>

  <% if @current_cycle&.voting? %>
    <h2>Vote for your favourite nomination</h2>
    <div id="nominations_list">
      <%= render partial: "nominations/nomination",
            collection: @current_cycle.nominations.includes(:book, :user, :votes),
            as: :nomination,
            locals: { current_user: Current.user } %>
    </div>
  <% end %>
<% end %>

<p><%= link_to "Back to Clubs", clubs_path, data: { turbo_frame: "_top" } %></p>
