<%= turbo_frame_tag "club_details_#{@club.id}" do %>
  <h1><%= @club.name %></h1>
  <p><%= @club.description.presence || "No description provided." %></p>

  <h2>Members</h2>
  <ul>
    <% @memberships.each do |membership| %>
      <li><%= membership.user.email_address %></li>
    <% end %>
  </ul>

  <% if @club_owner %>
    <div data-controller="clipboard">
      <p>Invite link: <span data-clipboard-target="source"><%= invite_url(signed_id: @invite_token) %></span></p>
      <button data-clipboard-target="button" data-action="clipboard#copy">Copy to Clipboard</button>
    </div>
    <p><%= link_to "Edit Club", edit_club_path(@club) %></p>
    <p><%= link_to "Delete Club", club_path(@club), data: { turbo_method: :delete, turbo_confirm: "Delete this club?", turbo_frame: "_top" } %></p>
  <% end %>

  <% if @current_cycle&.nominating? %>
    <h2>Current Nominations</h2>
    <div id="nominations_list">
      <%= render @current_cycle.nominations.includes(:book, :user),
            partial: "nominations/nomination",
            as: :nomination %>
    </div>

    <h2>Nominate a Book</h2>
    <%= render "books/search_and_nominate", club: @club, cycle: @current_cycle %>
  <% end %>

  <p><%= link_to "Back to Clubs", clubs_path, data: { turbo_frame: "_top" } %></p>
<% end %>
