<article id="<%= dom_id(reading_log_entry) %>" class="nc-reading-log-entry">
  <p class="nc-reading-log-entry__note"><%= reading_log_entry.note.presence || "No note text provided." %></p>
  <div class="nc-reading-log-entry__meta">
    <span><%= reading_log_entry.created_at.strftime("%d %b %Y") %></span>
    <span><%= reading_log_entry.state.humanize %></span>
    <% if reading_log_entry.page_reached.to_i > 0 %>
      <span>(read to page <%= reading_log_entry.page_reached %>)</span>
    <% end %>
  </div>
</article>
