<h1>Create an account</h1>

<%= form_with model: @user, url: registration_path do |form| %>
<% if @user.errors.any? %>
<ul>
  <% @user.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<div>
  <%= form.label :email_address %>
  <%= form.email_field :email_address, required: true, autofocus: true %>
</div>

<div>
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
</div>

<div>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, required: true %>
</div>

<%= form.submit "Create account" %>
<% end %>